@model IEnumerable<MVC_Data.Models.Personalia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EyeColour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EyeColour)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.SocialSn">Create</a>
                    <a asp-action="Delete" asp-route-id="@item.SocialSn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
